body, p, h2 {
    font-family: 'Poppins';
    margin: 0px auto; 
    padding: 0px auto; 
    align-items: center;
    justify-content: center;
}
.container {
    padding-top: 20px;
}
p {
    font-size: 13px;
}
.App {
    margin: auto;
    margin-top: 20px; 
    padding-bottom: 100px;
    width: 70%; 
    justify-content: center;
}
.pagnation {
    background-color: black;
}
.ui.segment.container {
    margin-top: 20px; 
    background-color: #fbfbfbab;
    height: 800px;
    width: 758px;
}
.ui.form {
    width: 400px;
}
.ui.button.nav-logout-button, 
.ui.button.submit-button {
    color: white;
    background: #3d41a3; 
}
.ui.button.change-theme {
    background-color: black;
    color: white; 
}
.ui.button.change-theme:hover, 
.ui.button.change-theme:focus {
    background-color: rgb(35, 34, 34);
}
.online-status {
    margin-right: 10px;
    color: green; 
    font-weight: bold;
    
}